.home{
  padding: 0px 10px;
  padding-bottom: 100px;
}
.hero{
  max-width: 600px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.hero h1{
  font-size: max(4vw,36px);
  color: rgb(251, 255, 30);
}
.hero p{
  width: 75%;
  color: #e3e3e3;
  line-height: 1.5;
  color: aqua;
}
.hero form{
  padding: 8px;
  width: 80%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.heading{
  /* border: 1px solid red; */
  width: 75%;
  word-spacing: 3px;
  height: 130px;
}
.hero input{
  /* flex: ; */
  font-size: 16px;
  /* border: 1px solid red; */
  outline: none;
  border: none;
  padding-left: 10px;
  min-width: 150px;
}

.hero button{
  border: none;
  background: #c70ebb;
  color: white;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}
.crypto-table{
  max-width: 800px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  margin: auto;
  /* background: linear-gradient(rgba(84,3,255,0.15),rgba(105,2,153,0.15)); */
  background-color: rgb(250, 228, 250);
  border-radius: 2px;
}
.table-layout{
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
  padding: 15px 20px;
  align-items: center;
  border-bottom: 1px solid #c70ebb;
}
.market-cap{
  text-align: right;
}

.table-layout:last-child{
  border: none;
}

.table-layout div{
  display: flex;
  align-items: center;
  
  gap: 10px;
}
.table-layout div img{
  width: 35px;

}

.table-layout .green{
  color: #00D515;
  text-align: center;
  font-weight: 900;
}
.table-layout .red{
  color: #ff4646;
  text-align: center;
  font-weight: 900;

}

@media(max-width:768px){
  .table-layout{
    grid-template-columns: 0.5fr 3fr 1fr 1fr;
  }
  .market-cap{
    display: none;
  }
}
@media(max-width:500px){
  .crypto-table{
    font-size: 12px;
  }
}

@media(max-width:450px){
  .hero form{
    width: 98%;
  }
}


@media(max-width:390px){
  .table-layout{
    grid-template-columns: .25fr 3fr .70fr 1fr;
  }
}
@media(max-width:320px){
  .table-layout{
    grid-template-columns: .20fr 1.5fr 1fr .20fr;
  }
}
